<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="itext7" version="7.1.15" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.0" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net472" />
  <package id="PdfSharp.Xps.SimpleWPFReporting" version="1.0.0" targetFramework="net472" />
  <package id="PdfSharp-WPF.SimpleWPFReporting" version="1.0.0" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="SimpleWPFReporting" version="1.1.0" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.114.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.114.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.114.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.114.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.114.0" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="net472" />
</packages>